<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>aavatechnepal</title>

    <link rel="stylesheet" href="/css/style.css">    

    <!-- font-awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

   

</head>
<body>
    <div class="header">       
        <video class="back-vdo" autoplay muted loop>
            <source src="/img/video.mp4" type="video/mp4">
        </video>     

        <img class="ourlogo" src="/img/circle logo.png" alt="our logo">
        
        <div class="navbar">
            <ul class="nav-list">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">contact</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/ourcourse">Our courses</a></li>
            </ul>
        </div>      
        <div class="content">
            <h1 class="head">Aava Technology</h2> 
            <p>Launching Soon.... 😊</p>
        </div>
    </div>

    <!-- ----------------------second section part ---------------------------------- -->

    <div class="second-sec">
        <h1>Our solutions connect people to financial services in simple, <br> <span>secure and affordable ways. (demo)</span></h1>
    </div>

        <div class="container">

            <div class="item1">
                <i class="fa-solid fa-droplet"></i>    
                <h3>course name1 </h3>       
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit, quos corrupti. Fugiat deleniti quis fuga pariatur, accusamus tempora! Commodi eligendi harum iure molestiae.</p>
            </div>

            <div class="item2">
                <i class="fa-brands fa-slack"></i>
                <h3>course name2 </h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit, quos corrupti. Fugiat deleniti quis fuga pariatur, accusamus tempora! Commodi eligendi harum iure molestiae.</p>
            </div>

            <div class="item3">
             <i class="fa-solid fa-user"></i>
                <h3>course name3 </h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit, quos corrupti. Fugiat deleniti quis fuga pariatur, accusamus tempora! Commodi eligendi harum iure molestiae.</p>
            </div>


        </div>
        

        

    
    

</body>
</html>